*
{
margin:0px;
padding:0px;
}
body
{
font-size:100%;
font-family:"verdana";
background:#000;
}
.header{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	background: url("../images/pdf2.png");
width: 12%;
background-size: 100% 100%;
padding: 0% 0 11% 0;
margin: 2% 0 0 1%;
float: left;
}
.logoText{
	background: url("../images/text2.png");
width: 15%;
background-size: 100% 100%;
padding: 0% 0 11% 0;
margin: 2% 0 0 3%;
float: left;
}
.wrapper{
margin: 2% auto;
width: 70%;
background: #FFF;
padding: 5% 3% 5%;
border-radius: 5px;
}
ul{
	margin-bottom: 2%;
}
li{
	list-style:none;
	line-height: 20px;
}
h4{
	color: #AD285A;
}
h4,.browse{
	padding-bottom: 2%;
} 
.btn{
	background-color: #AD285A;
	border-radius: 8px;
	padding: 1.3% 5%;
	display: block;
	color: #FFF;
	margin-bottom: 2%;
	font-weight: bold;
}
 .sendbtn{
     margin-top: 20px;
 }